.ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0px;
}
.li{
	padding: 5px;
	margin: 0px 10px 0px 0px;
	border: 0.5px solid ;
	border-radius: 10px;
	color: rgb(40, 40, 40);

}
.div{
	margin: 1rem;
	padding: 0.7rem;
	width: 240px;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 10px rgb(107, 115, 107);
	font-family: 'Times New Roman', Times, serif;

}
.link{
	text-decoration: none;
	color: rgb(40, 40, 40);
}
.p{
	color: rgb(40, 40, 40);
	margin: 0px;
}