.main{
	display: flex;
	justify-content: space-around;
}
.ul{
	list-style: none;
	display: flex;
	padding: 0px;
}
.main_li{
	padding: 5px;
	margin: 0px 10px 0px 0px;
	color: rgb(40, 40, 40);
	font-size: 18px;
	font-family: 'Times New Roman', Times, serif;
}
.info{
	font-family: 'Times New Roman', Times, serif;
	padding: 0rem 1rem;
}
.g_li{
	padding: 5px;
	margin: 0px 10px 0px 0px;
	border: 0.5px solid ;
	border-radius: 10px;
	color: rgb(40, 40, 40);
}