.home{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}
.nav{
	padding: 1rem;
	font-size: 38px;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(40, 40, 40);
	background-color: rgb(155, 208, 155);
}
.main{
	background-color: rgb(255, 255, 255);
}